

@use '@angular/material' as mat
//@include mat.core()

//@import '@angular/material/prebuilt-themes/indigo-pink.css' as indigo

// Define una paleta personalizada para "warn"
$custom-warn-palette: mat.define-palette(mat.$purple-palette, 500, 100, 100) // Usa un color como deep-orange

// Crea un tema basado en indigo-pink
$custom-theme: mat.define-light-theme((color: (primary: mat.define-palette(mat.$indigo-palette), accent: mat.define-palette(mat.$indigo-palette), warn: $custom-warn-palette)))

// Aplica los estilos del tema personalizado
@include mat.all-component-themes($custom-theme)

//@import 'material-icons/iconfont/material-icons.css'

html
    margin: 0
    padding: 0
    font-family: 'Raleway'
    overflow: hidden
    .leader-line
        z-index: 10

body
    margin: 0
    padding: 0
    background-color: white
    overflow-x: hidden
    overflow-y: hidden

.Texto1
    font-size: 40px
    @media only screen and (min-width: 600px) //Pantallas mas de 600px
        font-size: 50px

.Texto2
    font-size: 20px
    @media only screen and (min-width: 600px)
        font-size: 30px

.Texto3
    font-size: 10px
    @media only screen and (min-width: 600px)
        font-size: 20px


